%MyriadPro-300 {
  font-family: 'MyriadPro-Light',
    sans-serif;
  font-weight: 300;
}
%MyriadPro-400 {
  font-family: 'MyriadPro-Regular',
    sans-serif;
  font-weight: 400;
}
%MyriadPro-600 {
  font-family: 'MyriadPro-SemiBold',
    sans-serif;
  font-weight: 600;
}
%MyriadPro-700 {
  font-family: 'MyriadPro-Bold',
    sans-serif;
  font-weight: 700;
}