@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  font-size: 14px;

  &__top {
    padding: 12px 0px;
    background-color: #00aa4b;
  }

  &__categories {
    box-shadow: 7px 7px 18px rgba(33, 37, 41, 0.12);
    padding: 20px 0;
  }

  &__categories-link {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__categories-list {
    display: flex;
    justify-content: space-between;
  }

  &__categories-img {
    margin-bottom: 10px;

    img {
      width: 57px;
      height: 57px;
      object-fit: cover;
    }
  }
}

.menu {
  display: flex;

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    align-items: center;

    &:first-child {
      max-width: 28%;
      padding-left: 0;
    }

    &:nth-child(2) {
      max-width: 39%;
      border-right: 1px solid #67be7e;
      border-left: 1px solid #67be7e;
    }

    &:nth-child(3) {
      max-width: 37%;
      padding-right: 0px;
    }

    width: 100%;
  }

  &__link {
    color: #e9f5ec;
  }

  &__link--contacts {
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
    }

    span {
      margin-left: 5px;
    }
  }

  &__link-mail {
    width: 22px;
    height: 15px;
  }

  &__link-phone {
    width: 16px;
    height: 20px;
  }
}

.search {
  background-color: #e7e6e6;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    object-fit: cover;
    width: 222px;
    height: 40px;
  }

  &__form {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 35px;
    max-width: 885px;
    width: 100%;
  }

  &__select {
    padding: 0 25px 0 18px;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #e7e6e6;
    background-color: #f1f1f1;
    color: #777777;
    height: 35px;
    line-height: 35px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 6px;
      right: 6px;
      border: 8px solid transparent;
      border-top: 9px solid #3c3c3c;
    }
  }

  &__input {
    border: none;
    width: 100%;
    padding: 0 10px;
    outline: none;
    height: 35px;

  }

  &__btn {
    display: block;
    width: 50px;
    height: 35px;
    background: #faad3d url('../images/icons/search.png') no-repeat center;
    border-radius: 0 10px 10px 0;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__producers {
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
    }

    span {
      width: 98px;
      margin-left: 10px;
      @extend %MyriadPro-300;
    }
  }

  &__basket {
    display: flex;
    align-items: center;

    &-left {
      text-align: right;
      margin-right: 5px;
      color: #ea8b00;
    }

    &-text {
      @extend %MyriadPro-300;
      color: #777777;
    }

    &-sum {
      color: #1d1d1d;
    }

    &-right {

      span {
        display: block;
      }
    }
  }
}

.main {
  background-color: #f4f2f2;
}

.offers {
  padding: 18px 0;

  .wrapper {
    display: flex;
  }

  &__slider {
    width: 58%;
    margin: 0 20px;
  }

  &__slider-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232323;

    span {
      display: inline-block;
      margin-bottom: 73px;
    }
  }

  &__slider-text {
    margin-left: 65px;
  }

  &__slider-title {
    margin-bottom: 15px;
    font-size: 40px;
  }

  &__slider-subtitle {
    margin-bottom: 63px;
    @extend %MyriadPro-300;

  }

  &__slider-more,
  &__slider-item {

    color: #fff5eb;
  }

  &__slider-img {
    width: 260px;
    height: 357px;
    margin-right: 78px;
  }

  &__slider-more {
    @extend %MyriadPro-300;
    padding: 8px 30px;
    border: 2px solid #282828;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background: #faad3d;
    border: transparent solid 1px;
    color: #fff;
    margin: 20px 0;
  }
}

.offers-filter {
  width: 19.5%;
  background-color: rgb(255, 255, 255);

  &__title {
    font-size: 22px;
    color: #faad3d;
    padding: 34px 0 20px 25px;
    margin: 0;
  }

  li {
    padding: 16px 0 12px 27px;
    border-bottom: 1px solid #ededed;

    &:last-child {
      border-bottom: none;
    }

    a {
      color: #303030;
      font-size: 14px;
      position: relative;
      display: flex;

      &::after {
        content: '>';
        position: absolute;
        color: #cecece;
        top: 0;
        right: 15px;
      }
    }
  }

}

.sales {
  width: 19.5%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 2px solid #faad3d;
  background-color: #fff;

  img {
    object-fit: cover;
    width: 70px;
    height: 86px;
    margin-bottom: 15px;
  }

  span {
    font-size: 18px;
  }

  &__title {
    color: #222222;
    font-size: 40px;
  }

  &__link {
    color: #ffaf2d;
    margin-bottom: 28px;
  }
}

.swiper-container {
  height: 100%;

  .swiper-pagination-bullet-active {
    background: #fff;
    width: 8px;
    height: 8px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid #f7f7f7;

  }
}

.partners {
  margin-bottom: 173px;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 0px;
  }

  li {
    display: flex;
    height: 78px;
    align-items: center;
    border-right: 1px solid #f2f2f2;
    width: 16.6%;
    justify-content: center;
  }
}

.news {
  &__title {
    margin-bottom: 44px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 490px;
    height: 306px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  &__content {
    max-width: 490px;
    width: 100%;

    &-user {
      color: #00aa4b;
    }

    &-date {
      color: #777777;
    }
    &-title{
      display: inline-block;
      margin-bottom: 23px;
    }
    &-text{
      margin-bottom: 52px;
    }
  }

  &__content-top {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    max-width: 822px;
    width: 100%;
  }

  &__content-link {
    text-align: center;
    color: #282828;
    border: 2px solid #282828;
    border-radius: 20px;
    padding: 7px 30px;
    cursor: pointer;
  }
}

.producer-news {
  display: flex;
  margin-bottom: 45px;
  &__title {
    display: inline-block;
    margin-bottom: 12px;
  }
  &__top{
        margin-bottom: 3px;
  }
  img{
    margin-right: 20px;
    object-fit: cover;
    width: 191px;  
    height: 168px;
  }
  &__text,
  .news__content-text {
    color: #191919;
  }
}

@import 'media';